html, body {
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.classA {
    color: #16a085;
    text-decoration: none;
    margin-top: 32px;
    font-size: 18pt;
    letter-spacing: 4px;
    }

.classHOME {margin-left: 232px;}
.classPHOTOAPP {margin-left: 65px;}
.classDESIGN {margin-left: 70px;}
.classDOWNLOAD {margin-left: 78px;}

.classIMG {
    margin: auto 0;
    width: 100%;
        }
.classH2 {
    border: 0;
    letter-spacing: 5px;
    text-align: center;
}
.classP1, .classP2 {
    max-width: 1059px;
    max-height: 354px;
    text-align: center;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    margin-left: 113px;
    line-height: 1.5;
}
.classP1 {text-indent: 46px;}
.classBUTTON {
    font-weight: 700;
    color: white;
    background: #16a085;
    margin-left: 527px;
    padding: 23px 43px 18px 45px;
    font-size: 12pt;
    letter-spacing: 5px;
}
.classP3 {
   margin-top: 47px;
    margin-left: 640px;
    text-align: center;
    color: rgba(55, 55, 55, 255);
    font-size: 14pt;
    }
main {
    background-color: #f5f6f7;
    background-size: auto 100px;
    padding-top: 30px;
    padding-bottom: 91px;
    margin: 0;
}

